{
  "openapi": "3.1.0",
  "info": {
    "title": "ShortKit API",
    "description": "REST API for managing ShortKit content, live streams, surveys, analytics, and ad configuration.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.shortkit.dev"
    }
  ],
  "tags": [
    {
      "name": "Content",
      "description": "Upload, import, and manage videos and carousels."
    },
    {
      "name": "Live Streams",
      "description": "Create and manage live streams that appear in your feed."
    },
    {
      "name": "Surveys",
      "description": "Create surveys and collect responses in the feed."
    },
    {
      "name": "Analytics",
      "description": "Metrics, views, and event data for your content."
    }
  ],
  "paths": {
    "/v1/content": {
      "post": {
        "summary": "Create content",
        "operationId": "create_content_v1_content_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "7f3c9a2e-8d41-4b6a-9c25-1e8f0a4d7b91",
                    "externalId": null,
                    "contentType": "carousel",
                    "title": "Top 5 Plays of the Week",
                    "description": "Countdown of the best moments from this week's games",
                    "uploadStatus": "ready",
                    "errorReason": null,
                    "publishStatus": "unpublished",
                    "duration": null,
                    "tags": [
                      "sports",
                      "highlights"
                    ],
                    "customMetadata": {},
                    "section": "Sports",
                    "author": "Marcus Webb",
                    "images": [],
                    "captionTracks": [],
                    "videoWidth": null,
                    "videoHeight": null,
                    "aspectRatio": null,
                    "maxFrameRate": null,
                    "videoQuality": null,
                    "resolutionTier": null,
                    "playbackId": null,
                    "liveStreamId": null,
                    "publishAt": null,
                    "expiresAt": null,
                    "createdAt": "2026-02-05T12:00:00+00:00",
                    "updatedAt": "2026-02-05T12:00:00+00:00",
                    "streamingUrl": null,
                    "thumbnailUrl": null,
                    "downloadUrl": null
                  },
                  "meta": {
                    "request_id": "req_01hv8q3k7m"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Create a content item without uploading media. Set `contentType` to `video` (default), `carousel`, or `video_carousel`; carousels are created ready so you can attach images or videos right away, while videos start in `waiting_for_upload`. Optional `publishAt` and `expiresAt` schedule when the item enters and leaves the feed.",
        "security": [
          {
            "secretKey": []
          }
        ]
      },
      "get": {
        "summary": "List content",
        "operationId": "list_content_v1_content_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Tags"
            }
          },
          {
            "name": "uploadStatus",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Uploadstatus"
            }
          },
          {
            "name": "publishStatus",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Publishstatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                      "externalId": null,
                      "contentType": "video",
                      "title": "Breaking: Weather Alert",
                      "description": "Severe thunderstorm warning for the metro area",
                      "uploadStatus": "ready",
                      "errorReason": null,
                      "publishStatus": "published",
                      "duration": 32.5,
                      "tags": [
                        "weather",
                        "severe",
                        "breaking"
                      ],
                      "customMetadata": {
                        "articleUrl": "https://example.com/weather-alert",
                        "language": "en"
                      },
                      "section": "Weather",
                      "author": "Jane Doe",
                      "images": [],
                      "captionTracks": [],
                      "videoWidth": 1080,
                      "videoHeight": 1920,
                      "aspectRatio": 0.5625,
                      "maxFrameRate": 29.97,
                      "videoQuality": "plus",
                      "resolutionTier": "HD",
                      "playbackId": "Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS",
                      "liveStreamId": null,
                      "publishAt": null,
                      "expiresAt": null,
                      "createdAt": "2026-02-05T12:00:00+00:00",
                      "updatedAt": "2026-02-05T12:03:45+00:00",
                      "streamingUrl": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS.m3u8",
                      "thumbnailUrl": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/thumbnail.jpg?time=0",
                      "previewUrls": {
                        "hls": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS.m3u8?asset_start_time=0&asset_end_time=5.00&max_resolution=360p",
                        "webp": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/animated.webp?start=0&end=5&width=320&fps=12",
                        "gif": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/animated.gif?start=0&end=5&width=320&fps=12"
                      },
                      "downloadUrl": null
                    }
                  ],
                  "meta": {
                    "request_id": "req_01hv8q4n2x",
                    "nextCursor": "eyJjYSI6IjIwMjYtMDItMDVUMTI6MDA6MDArMDA6MDAiLCJpZCI6ImQyOTBmMWVlLTZjNTQtNGIwMS05MGU2LWQ3MDE3NDhmMDg1MSJ9"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Returns a paginated list of content items in your organization, newest first. Filter with `uploadStatus`, `publishStatus`, and `tags` (comma-separated, matches any tag); page with `limit` (max 100) and the `cursor` from a previous response's `meta.nextCursor`.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/search": {
      "get": {
        "summary": "Search content",
        "description": "Search your content library by keyword. Every whitespace-separated term in `q` must match the title, description, author, tags, or custom metadata. Returns up to `limit` results (max 50), newest first.",
        "operationId": "search_content_v1_content_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500,
              "title": "Q"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                      "externalId": null,
                      "contentType": "video",
                      "title": "Breaking: Weather Alert",
                      "description": "Severe thunderstorm warning for the metro area",
                      "uploadStatus": "ready",
                      "errorReason": null,
                      "publishStatus": "published",
                      "duration": 32.5,
                      "tags": [
                        "weather",
                        "severe",
                        "breaking"
                      ],
                      "customMetadata": {
                        "articleUrl": "https://example.com/weather-alert",
                        "language": "en"
                      },
                      "section": "Weather",
                      "author": "Jane Doe",
                      "images": [],
                      "captionTracks": [],
                      "videoWidth": 1080,
                      "videoHeight": 1920,
                      "aspectRatio": 0.5625,
                      "maxFrameRate": 29.97,
                      "videoQuality": "plus",
                      "resolutionTier": "HD",
                      "playbackId": "Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS",
                      "liveStreamId": null,
                      "publishAt": null,
                      "expiresAt": null,
                      "createdAt": "2026-02-05T12:00:00+00:00",
                      "updatedAt": "2026-02-05T12:03:45+00:00",
                      "streamingUrl": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS.m3u8",
                      "thumbnailUrl": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/thumbnail.jpg?time=0",
                      "previewUrls": {
                        "hls": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS.m3u8?asset_start_time=0&asset_end_time=5.00&max_resolution=360p",
                        "webp": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/animated.webp?start=0&end=5&width=320&fps=12",
                        "gif": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/animated.gif?start=0&end=5&width=320&fps=12"
                      },
                      "downloadUrl": null
                    }
                  ],
                  "meta": {
                    "request_id": "req_01hv8q5p8d"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/count": {
      "get": {
        "summary": "Count content",
        "description": "Returns the total number of content items in your organization, optionally filtered by `uploadStatus` and `publishStatus`.",
        "operationId": "get_content_count_v1_content_count_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "uploadStatus",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Uploadstatus"
            }
          },
          {
            "name": "publishStatus",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Publishstatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "count": 1284
                  },
                  "meta": {
                    "request_id": "req_01hv8q3k7m"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}": {
      "get": {
        "summary": "Get content",
        "operationId": "get_content_v1_content__content_id__get",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                    "externalId": "newsroom-48291",
                    "contentType": "video",
                    "title": "Breaking: Weather Alert",
                    "description": "Severe thunderstorm warning for the metro area",
                    "uploadStatus": "ready",
                    "errorReason": null,
                    "publishStatus": "published",
                    "duration": 32.5,
                    "tags": [
                      "weather",
                      "severe",
                      "breaking"
                    ],
                    "customMetadata": {
                      "articleUrl": "https://example.com/weather-alert",
                      "language": "en"
                    },
                    "section": "Weather",
                    "author": "Jane Doe",
                    "images": [],
                    "captionTracks": [
                      {
                        "id": "5a7d3e91-2b48-4c06-8f17-9e0a6b4d2c53",
                        "language": "en",
                        "label": "English",
                        "source": "generated",
                        "url": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/text/Yq8mW3kN02vTzL6cJ9xR4aB7dF1gH5eP.vtt",
                        "trackId": "Yq8mW3kN02vTzL6cJ9xR4aB7dF1gH5eP",
                        "status": "ready",
                        "createdAt": "2026-02-05T12:03:12+00:00"
                      }
                    ],
                    "videoWidth": 1080,
                    "videoHeight": 1920,
                    "aspectRatio": 0.5625,
                    "maxFrameRate": 29.97,
                    "videoQuality": "plus",
                    "resolutionTier": "HD",
                    "playbackId": "Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS",
                    "liveStreamId": null,
                    "publishAt": null,
                    "expiresAt": null,
                    "createdAt": "2026-02-05T12:00:00+00:00",
                    "updatedAt": "2026-02-05T12:03:45+00:00",
                    "streamingUrl": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS.m3u8",
                    "thumbnailUrl": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/thumbnail.jpg?time=0",
                    "previewUrls": {
                      "hls": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS.m3u8?asset_start_time=0&asset_end_time=5.00&max_resolution=360p",
                      "webp": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/animated.webp?start=0&end=5&width=320&fps=12",
                      "gif": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/animated.gif?start=0&end=5&width=320&fps=12"
                    },
                    "downloadUrl": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/highest.mp4"
                  },
                  "meta": {
                    "request_id": "req_01hv8q6r4t"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Retrieve a single content item by ID, including upload and publish status, playback URLs, caption tracks, and custom metadata.",
        "security": [
          {
            "secretKey": []
          }
        ]
      },
      "patch": {
        "summary": "Update content",
        "operationId": "update_content_v1_content__content_id__patch",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                    "externalId": "newsroom-48291",
                    "contentType": "video",
                    "title": "Updated: Weather Alert Downgraded",
                    "description": "Severe thunderstorm warning for the metro area",
                    "uploadStatus": "ready",
                    "errorReason": null,
                    "publishStatus": "published",
                    "duration": 32.5,
                    "tags": [
                      "weather",
                      "update"
                    ],
                    "customMetadata": {
                      "articleUrl": "https://example.com/weather-update",
                      "language": "en"
                    },
                    "section": "Weather",
                    "author": "Jane Doe",
                    "images": [],
                    "captionTracks": [],
                    "videoWidth": 1080,
                    "videoHeight": 1920,
                    "aspectRatio": 0.5625,
                    "maxFrameRate": 29.97,
                    "videoQuality": "plus",
                    "resolutionTier": "HD",
                    "playbackId": "Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS",
                    "liveStreamId": null,
                    "publishAt": null,
                    "expiresAt": null,
                    "createdAt": "2026-02-05T12:00:00+00:00",
                    "updatedAt": "2026-02-05T12:05:30+00:00",
                    "streamingUrl": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS.m3u8",
                    "thumbnailUrl": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/thumbnail.jpg?time=0",
                    "previewUrls": {
                      "hls": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS.m3u8?asset_start_time=0&asset_end_time=5.00&max_resolution=360p",
                      "webp": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/animated.webp?start=0&end=5&width=320&fps=12",
                      "gif": "https://image.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/animated.gif?start=0&end=5&width=320&fps=12"
                    },
                    "downloadUrl": null
                  },
                  "meta": {
                    "request_id": "req_01hv8q7w9k"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Update fields on a content item — only the fields you include in the body are modified. `customMetadata` merges key by key (a `null` value removes a key), and setting `publishStatus` to `published` requires processing to be finished and clears any scheduled `publishAt`. Returns 400 if `publishAt` or `expiresAt` is in the past, or if `expiresAt` is not after `publishAt`.",
        "security": [
          {
            "secretKey": []
          }
        ]
      },
      "delete": {
        "summary": "Delete content",
        "operationId": "delete_content_v1_content__content_id__delete",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                    "deleted": true
                  },
                  "meta": {
                    "request_id": "req_01hv8q8x2m"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Delete a content item. It is removed from the feed immediately and excluded from list results; this operation is not reversible through the API.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/images": {
      "post": {
        "summary": "Add carousel image",
        "operationId": "upload_carousel_image_v1_content__content_id__images_post",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_carousel_image_v1_content__content_id__images_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "3b8e2f6a-1c9d-4e57-8a40-f2d6b91c3e75",
                    "imageUrl": "https://image.media.shortkit.dev/carousels/e8f4a2d1c6b34f7a9d2e5c8b1a4f7e3d.jpg",
                    "altText": "Game-winning shot at the buzzer",
                    "position": 0,
                    "createdAt": "2026-02-05T12:08:14+00:00"
                  },
                  "meta": {
                    "request_id": "req_01hv8q9c5n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Add an image to an image carousel via multipart upload. Send the image bytes as `file`, plus optional `position` and `altText` form fields. Carousels hold at most 10 images; returns the created image with a 201.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/images/{image_id}": {
      "delete": {
        "summary": "Delete carousel image",
        "operationId": "delete_carousel_image_v1_content__content_id__images__image_id__delete",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          },
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Image Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "deleted": true
                  },
                  "meta": {
                    "request_id": "req_01hv8qad7p"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Remove an image from an image carousel. The stored image file is deleted along with the record.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/images/order": {
      "put": {
        "summary": "Reorder carousel images",
        "operationId": "reorder_carousel_images_v1_content__content_id__images_order_put",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderImagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "8c4f1a9e-5b27-4d63-90e8-a7b3c2d1f604",
                      "imageUrl": "https://image.media.shortkit.dev/carousels/b2c7d4e9a1f64385c0d9e2f7a5b8c1d4.jpg",
                      "altText": "Overtime celebration on the court",
                      "position": 0,
                      "createdAt": "2026-02-05T12:09:02+00:00"
                    },
                    {
                      "id": "3b8e2f6a-1c9d-4e57-8a40-f2d6b91c3e75",
                      "imageUrl": "https://image.media.shortkit.dev/carousels/e8f4a2d1c6b34f7a9d2e5c8b1a4f7e3d.jpg",
                      "altText": "Game-winning shot at the buzzer",
                      "position": 1,
                      "createdAt": "2026-02-05T12:08:14+00:00"
                    }
                  ],
                  "meta": {
                    "request_id": "req_01hv8qbe9r"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Reorder the images in a carousel. Send `imageIds` containing the image IDs in the desired display order — positions are assigned from the array index. Returns the full image list in the new order.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/videos": {
      "post": {
        "summary": "Add carousel videos",
        "description": "Add videos to a video carousel. Each entry in `videos` references an existing video by `contentId` with a `position`; videos must be fully processed (`ready`), a carousel holds at most 10, and videos already in the carousel are skipped. Returns the carousel's entries in order.",
        "operationId": "add_videos_to_carousel_v1_content__content_id__videos_post",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddVideosToCarouselRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "6d2a8f4c-9e15-4b73-a062-c8e5d1b7f349",
                      "videoContentId": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                      "position": 0
                    },
                    {
                      "id": "1e9b5d3f-7a48-4c02-b6d1-f4a2c8e6b590",
                      "videoContentId": "a4c8e2b6-3f91-4d57-8e20-b7d5f1a9c364",
                      "position": 1
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/videos/order": {
      "put": {
        "summary": "Reorder carousel videos",
        "description": "Reorder the videos in a video carousel. Send `videoIds` containing the video content IDs in the desired display order — positions are assigned from the array index.",
        "operationId": "reorder_carousel_videos_v1_content__content_id__videos_order_put",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderVideosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": "ok"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/videos/{entry_id}": {
      "delete": {
        "summary": "Remove carousel video",
        "description": "Remove a video entry from a video carousel by its entry ID. Remaining entries are renumbered so positions stay contiguous.",
        "operationId": "remove_video_from_carousel_v1_content__content_id__videos__entry_id__delete",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entry Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": "ok"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/captions": {
      "post": {
        "summary": "Upload caption track",
        "operationId": "upload_caption_track_v1_content__content_id__captions_post",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_caption_track_v1_content__content_id__captions_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "9f2c6b4a-8d31-4e75-a190-e3b7c5d2f816",
                    "language": "es",
                    "label": "Español",
                    "source": "external",
                    "url": "https://stream.media.shortkit.dev/Ab3xT9yQv00ZJkM2nC8dR5wPq6L1fEoS/text/4f8a2c6e9b1d43759e0a3c7f2b5d8e1a.vtt",
                    "trackId": null,
                    "status": "ready",
                    "createdAt": "2026-02-05T12:12:40+00:00"
                  },
                  "meta": {
                    "request_id": "req_01hv8qcf3s"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Upload a caption track for a content item via multipart upload. Send a VTT or SRT file as `file`, plus `language` (default `en`) and `label` (default `English`) form fields. The track is available immediately and returned with a 201; other file types are rejected with a 400.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/captions/{track_id}": {
      "delete": {
        "summary": "Delete caption track",
        "operationId": "delete_caption_track_v1_content__content_id__captions__track_id__delete",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          },
          {
            "name": "track_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Track Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "deleted": true
                  },
                  "meta": {
                    "request_id": "req_01hv8qdg6t"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Delete a caption track from a content item. The stored caption file is removed along with the record.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/events/explore": {
      "get": {
        "summary": "List events",
        "description": "Return a paginated list of raw analytics events, newest first, including the event type, viewer, session identifiers, and the full event payload. Filter by `event_type`, `content_id`, or `viewer_id`. Set the time range with `timeframe[]`: relative as `value:unit` (for example `7:days` or `24:hours`) or absolute as two Unix timestamps (`timeframe[]=<start>&timeframe[]=<end>`); the default is `7:days`. `limit` accepts up to 200 events per page. See [Event types](/docs/api/analytics/analytics-overview#event-types) for the full list of values the `event_type` filter accepts.",
        "operationId": "explore_events_v1_events_explore_get",
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Event Type"
            }
          },
          {
            "name": "content_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Content Id"
            }
          },
          {
            "name": "viewer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Viewer Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "evt_01hvd8x5mt",
                      "event_type": "playStart",
                      "user_id": "user_48291",
                      "session_id": "sess_01hvd8tq2v",
                      "view_session_id": "vs_01hvd8x4qz",
                      "content_id": "cnt_01hv8q3k7m",
                      "playback_id": "Xq3vT8wKbN5mY2cJfHdLpRz4Sg6aB",
                      "event_data": {},
                      "timestamp": "2026-06-09T18:24:11+00:00",
                      "received_at": "2026-06-09T18:24:12+00:00"
                    },
                    {
                      "id": "evt_01hvd8w8np",
                      "event_type": "playStart",
                      "user_id": "user_70114",
                      "session_id": "sess_01hvd8sr7x",
                      "view_session_id": "vs_01hvd8w9rk",
                      "content_id": "cnt_01hv9t5n2c",
                      "playback_id": "Mk7dW2pQfT9xC4vRnJ8bL5sYgHa3Ze",
                      "event_data": {},
                      "timestamp": "2026-06-09T18:21:02+00:00",
                      "received_at": "2026-06-09T18:21:03+00:00"
                    }
                  ],
                  "pagination": {
                    "total": 14237,
                    "page": 1,
                    "limit": 50,
                    "total_pages": 285
                  },
                  "timeframe": [
                    1780444800,
                    1781049600
                  ],
                  "meta": {
                    "request_id": "req_3b9e6c2a7f4d"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/events/types": {
      "get": {
        "summary": "List event types",
        "description": "Return the distinct event types recorded in a timeframe, ordered by frequency. Each entry includes the raw event count plus the number of distinct views and sessions that contained that event type.",
        "operationId": "list_event_types_v1_events_types_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "event_type": "watchProgress",
                      "count": 96412,
                      "view_count": 31280,
                      "session_count": 9874
                    },
                    {
                      "event_type": "impression",
                      "count": 51230,
                      "view_count": 51230,
                      "session_count": 10412
                    },
                    {
                      "event_type": "playStart",
                      "count": 48210,
                      "view_count": 48210,
                      "session_count": 10388
                    },
                    {
                      "event_type": "viewEnd",
                      "count": 47955,
                      "view_count": 47955,
                      "session_count": 10371
                    },
                    {
                      "event_type": "completion",
                      "count": 19873,
                      "view_count": 19873,
                      "session_count": 8642
                    },
                    {
                      "event_type": "like",
                      "count": 2417,
                      "view_count": 2380,
                      "session_count": 1903
                    }
                  ],
                  "timeframe": [
                    1780444800,
                    1781049600
                  ],
                  "meta": {
                    "request_id": "req_5f2a8d4b1c7e"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/events/views": {
      "get": {
        "summary": "List views with event timelines",
        "description": "Return a paginated list of views, each with summary playback metrics and the full timeline of raw events that made up the view. Filter by `content_id`, `viewer_id`, or repeated `event_type` parameters — when multiple event types are given, only views containing all of them are returned. Pass `count_only=true` to fetch just the total count without row data.",
        "operationId": "list_event_views_v1_events_views_get",
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Event Type"
            }
          },
          {
            "name": "content_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Content Id"
            }
          },
          {
            "name": "viewer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Viewer Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "count_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Count Only"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "view_session_id": "vs_01hvd8x4qz",
                      "user_id": "user_48291",
                      "session_id": "sess_01hvd8tq2v",
                      "content_id": "cnt_01hv8q3k7m",
                      "playback_id": "Xq3vT8wKbN5mY2cJfHdLpRz4Sg6aB",
                      "content_title": "Summer Drop Teaser",
                      "started_at": "2026-06-09T18:24:11+00:00",
                      "ended_at": "2026-06-09T18:24:35+00:00",
                      "event_count": 5,
                      "summary": {
                        "view_session_id": "vs_01hvd8x4qz",
                        "watch_time_ms": 23480,
                        "playing_time_ms": 21934,
                        "completed": true,
                        "looped": false,
                        "loop_count": 0,
                        "video_startup_time_ms": 412,
                        "exit_before_start": false,
                        "rebuffer_count": 0,
                        "rebuffer_duration_ms": 0,
                        "avg_bitrate_bps": 2840000,
                        "rendition_change_count": 2,
                        "rendition_upshift_count": 2,
                        "rendition_downshift_count": 0,
                        "seek_count": 1,
                        "seek_duration_ms": 880,
                        "captions_enabled": false,
                        "os_name": "iOS",
                        "os_version": "18.5",
                        "device_category": "phone",
                        "device_manufacturer": "Apple",
                        "device_model": "iPhone16,2",
                        "connection_type": "wifi",
                        "user_agent": "ShortKit-iOS/0.2.55 (iPhone16,2; iOS 18.5)",
                        "client_app_name": "bloom-ios",
                        "client_app_version": "3.12.0"
                      },
                      "events": [
                        {
                          "id": "evt_01hvd8xq8c",
                          "event_type": "viewEnd",
                          "user_id": "user_48291",
                          "session_id": "sess_01hvd8tq2v",
                          "view_session_id": "vs_01hvd8x4qz",
                          "content_id": "cnt_01hv8q3k7m",
                          "playback_id": "Xq3vT8wKbN5mY2cJfHdLpRz4Sg6aB",
                          "event_data": {
                            "viewSessionId": "vs_01hvd8x4qz",
                            "watchTimeMs": 23480,
                            "playingTimeMs": 21934,
                            "completed": true
                          },
                          "timestamp": "2026-06-09T18:24:35+00:00",
                          "received_at": "2026-06-09T18:24:36+00:00"
                        },
                        {
                          "id": "evt_01hvd8x5mt",
                          "event_type": "playStart",
                          "user_id": "user_48291",
                          "session_id": "sess_01hvd8tq2v",
                          "view_session_id": "vs_01hvd8x4qz",
                          "content_id": "cnt_01hv8q3k7m",
                          "playback_id": "Xq3vT8wKbN5mY2cJfHdLpRz4Sg6aB",
                          "event_data": {},
                          "timestamp": "2026-06-09T18:24:11+00:00",
                          "received_at": "2026-06-09T18:24:12+00:00"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "total": null,
                    "page": 1,
                    "limit": 20,
                    "total_pages": null,
                    "has_next_page": true
                  },
                  "timeframe": [
                    1780444800,
                    1781049600
                  ],
                  "meta": {
                    "request_id": "req_9d4c7e1f6b2a"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/events/sessions": {
      "get": {
        "summary": "List sessions",
        "description": "Return a paginated list of viewing sessions, each grouping its views (with their event timelines) plus any events not tied to a specific view. Each session includes its duration, view count, and event count. Supports the same `event_type`, `content_id`, `viewer_id`, and `count_only` parameters as the views endpoint.",
        "operationId": "list_event_sessions_v1_events_sessions_get",
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Event Type"
            }
          },
          {
            "name": "content_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Content Id"
            }
          },
          {
            "name": "viewer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Viewer Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "count_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Count Only"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "session_id": "sess_01hvd8tq2v",
                      "user_id": "user_48291",
                      "started_at": "2026-06-09T18:23:54+00:00",
                      "ended_at": "2026-06-09T18:27:40+00:00",
                      "duration_ms": 226000,
                      "view_count": 1,
                      "event_count": 7,
                      "views": [
                        {
                          "view_session_id": "vs_01hvd8x4qz",
                          "user_id": "user_48291",
                          "session_id": "sess_01hvd8tq2v",
                          "content_id": "cnt_01hv8q3k7m",
                          "playback_id": "Xq3vT8wKbN5mY2cJfHdLpRz4Sg6aB",
                          "content_title": "Summer Drop Teaser",
                          "started_at": "2026-06-09T18:24:11+00:00",
                          "ended_at": "2026-06-09T18:24:35+00:00",
                          "event_count": 5,
                          "summary": {
                            "view_session_id": "vs_01hvd8x4qz",
                            "watch_time_ms": 23480,
                            "playing_time_ms": 21934,
                            "completed": true,
                            "looped": false,
                            "loop_count": 0,
                            "video_startup_time_ms": 412,
                            "exit_before_start": false,
                            "rebuffer_count": 0,
                            "rebuffer_duration_ms": 0,
                            "avg_bitrate_bps": 2840000,
                            "rendition_change_count": 2,
                            "rendition_upshift_count": 2,
                            "rendition_downshift_count": 0,
                            "seek_count": 1,
                            "seek_duration_ms": 880,
                            "captions_enabled": false,
                            "os_name": "iOS",
                            "os_version": "18.5",
                            "device_category": "phone",
                            "device_manufacturer": "Apple",
                            "device_model": "iPhone16,2",
                            "connection_type": "wifi",
                            "user_agent": "ShortKit-iOS/0.2.55 (iPhone16,2; iOS 18.5)",
                            "client_app_name": "bloom-ios",
                            "client_app_version": "3.12.0"
                          },
                          "events": [
                            {
                              "id": "evt_01hvd8xq8c",
                              "event_type": "viewEnd",
                              "user_id": "user_48291",
                              "session_id": "sess_01hvd8tq2v",
                              "view_session_id": "vs_01hvd8x4qz",
                              "content_id": "cnt_01hv8q3k7m",
                              "playback_id": "Xq3vT8wKbN5mY2cJfHdLpRz4Sg6aB",
                              "event_data": {
                                "viewSessionId": "vs_01hvd8x4qz",
                                "watchTimeMs": 23480,
                                "playingTimeMs": 21934,
                                "completed": true
                              },
                              "timestamp": "2026-06-09T18:24:35+00:00",
                              "received_at": "2026-06-09T18:24:36+00:00"
                            },
                            {
                              "id": "evt_01hvd8x5mt",
                              "event_type": "playStart",
                              "user_id": "user_48291",
                              "session_id": "sess_01hvd8tq2v",
                              "view_session_id": "vs_01hvd8x4qz",
                              "content_id": "cnt_01hv8q3k7m",
                              "playback_id": "Xq3vT8wKbN5mY2cJfHdLpRz4Sg6aB",
                              "event_data": {},
                              "timestamp": "2026-06-09T18:24:11+00:00",
                              "received_at": "2026-06-09T18:24:12+00:00"
                            }
                          ]
                        }
                      ],
                      "loose_events": [
                        {
                          "id": "evt_01hvd8tr3w",
                          "event_type": "feedEntry",
                          "user_id": "user_48291",
                          "session_id": "sess_01hvd8tq2v",
                          "view_session_id": null,
                          "content_id": null,
                          "playback_id": null,
                          "event_data": {},
                          "timestamp": "2026-06-09T18:23:54+00:00",
                          "received_at": "2026-06-09T18:23:55+00:00"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "total": null,
                    "page": 1,
                    "limit": 20,
                    "total_pages": null,
                    "has_next_page": true
                  },
                  "timeframe": [
                    1780444800,
                    1781049600
                  ],
                  "meta": {
                    "request_id": "req_7e3a5c9d2b8f"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/upload": {
      "post": {
        "summary": "Upload content",
        "operationId": "upload_content_v1_content_upload_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "examples": {
                  "Video upload": {
                    "summary": "Video — PUT the file to uploadUrl",
                    "value": {
                      "data": {
                        "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                        "externalId": "cms-vid-48213",
                        "contentType": "video",
                        "uploadUrl": "https://uploads.shortkit.dev/direct/upl_4f8c2a91d3b7?token=eyJhbGciOiJSUzI1NiJ9...",
                        "status": "waiting_for_upload",
                        "title": "Morning Headlines",
                        "description": "Top stories for June 11",
                        "tags": [
                          "news",
                          "morning"
                        ],
                        "customMetadata": {
                          "category": "news"
                        },
                        "createdAt": "2026-06-11T14:02:31.481927+00:00"
                      },
                      "meta": {
                        "request_id": "req_b3f8a1c2d4e5"
                      }
                    }
                  },
                  "Carousel upload": {
                    "summary": "Carousel — PUT each image to its slot uploadUrl",
                    "value": {
                      "data": {
                        "id": "8a2b4c6e-1f3d-4a59-bc70-e2d8f1a4b9c3",
                        "externalId": null,
                        "contentType": "carousel",
                        "uploadStatus": "waiting_for_upload",
                        "title": "Best plays of the week",
                        "description": "Weekly highlights carousel",
                        "tags": [
                          "sports",
                          "highlights"
                        ],
                        "customMetadata": {},
                        "imageSlots": [
                          {
                            "position": 0,
                            "uploadUrl": "https://uploads.shortkit.dev/direct/img_7c1d44a9b2?token=eyJhbGciOiJSUzI1NiJ9...",
                            "maxSizeBytes": 10485760
                          },
                          {
                            "position": 1,
                            "uploadUrl": "https://uploads.shortkit.dev/direct/img_9e3f55b1c4?token=eyJhbGciOiJSUzI1NiJ9...",
                            "maxSizeBytes": 10485760
                          }
                        ],
                        "createdAt": "2026-06-11T14:05:12.382041+00:00"
                      },
                      "meta": {
                        "request_id": "req_c4e9b2d6f1a3"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Create an upload session for a video file. The response includes a signed `uploadUrl` — send the file bytes to it with a `PUT` request. Processing starts automatically once the upload completes; track it by polling the content item or with a `callbackUrl`.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/import/status": {
      "get": {
        "summary": "Get import status",
        "description": "Returns your organization's current import queue status: items queued and processing, counts of items completed and failed today, your daily quota and how much of it is used, and an estimated time to drain the queue.",
        "operationId": "import_status_v1_content_import_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "queued": 12,
                    "processing": 3,
                    "readyToday": 248,
                    "failedToday": 2,
                    "dailyQuota": 5000,
                    "dailyUsed": 263,
                    "estimatedMinutes": 0.2
                  },
                  "meta": {
                    "request_id": "req_1f6c3a9d7e2b"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/import": {
      "post": {
        "summary": "Import content",
        "operationId": "import_content_v1_content_import_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "e3a1b2c3-d4e5-4789-abcd-ef0123456789",
                      "externalId": "cms-vid-1042",
                      "contentType": "video",
                      "status": "queued",
                      "title": "Quarterly Recap",
                      "error": null
                    },
                    {
                      "id": "f4b2c3d4-e5f6-4890-bcde-f01234567890",
                      "externalId": null,
                      "contentType": "carousel",
                      "status": "queued",
                      "title": "Team Photos",
                      "error": null
                    }
                  ],
                  "summary": {
                    "total": 2,
                    "succeeded": 2,
                    "failed": 0
                  },
                  "queue": {
                    "queuedItems": 14,
                    "estimatedMinutes": 0.2
                  },
                  "meta": {
                    "request_id": "req_7d2e9f4a8b1c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Import up to 100 content items from URLs in a single request — provide a `sourceUrl` for each video or an `images` array for each carousel, plus the usual metadata. Items are processed asynchronously: track progress with `callbackUrl` or the import status endpoint. `externalId` makes imports idempotent (re-imports are skipped), and the request returns 429 if it would exceed your daily import quota or queue limit.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/import/tiktok": {
      "post": {
        "summary": "Import from TikTok",
        "operationId": "import_from_tiktok_v1_content_import_tiktok_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TikTokImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "jobId": "9b7e4d12-3f8a-4c56-9e01-2a4b6c8d0e1f",
                    "profilesQueued": 0,
                    "videosQueued": 3,
                    "videosSkipped": 1
                  },
                  "queue": {
                    "orgQueuedItems": 3,
                    "estimatedMinutes": 0.1
                  },
                  "meta": {
                    "request_id": "req_5c1d8e2f9a3b"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Import videos from TikTok. Accepts up to 20 `urls` — individual video links or profile links, which are expanded up to `maxVideosPerProfile` (default 500). Returns a `jobId` with counts of videos queued and skipped (previously imported videos are deduplicated); processing is asynchronous, with optional progress delivery to `callbackUrl`.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/import/instagram": {
      "post": {
        "summary": "Import from Instagram",
        "operationId": "import_from_instagram_v1_content_import_instagram_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstagramImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "jobId": "2c8f1a3b-5d7e-4910-8f23-4b6a8c0d2e4f",
                    "profilesQueued": 1,
                    "reelsQueued": 2,
                    "reelsSkipped": 0
                  },
                  "queue": {
                    "orgQueuedItems": 2,
                    "estimatedMinutes": 0.1
                  },
                  "meta": {
                    "request_id": "req_9e4a7b2c5d8f"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Import Reels from Instagram. Accepts up to 20 `urls` — individual Reel links or profile links, which are expanded up to `maxReelsPerProfile` (default 500). Returns a `jobId` with counts of Reels queued and skipped (previously imported Reels are deduplicated); processing is asynchronous, with optional progress delivery to `callbackUrl`.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/finalize": {
      "post": {
        "summary": "Finalize carousel upload",
        "operationId": "finalize_content_v1_content__content_id__finalize_post",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Content Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "a1b2c3d4-e5f6-4890-abcd-ef1234567890",
                    "externalId": "cms-carousel-310",
                    "status": "ready",
                    "publishStatus": "published",
                    "images": [
                      {
                        "position": 0,
                        "status": "ready",
                        "imageUrl": "https://image.media.shortkit.dev/carousels/0.jpg",
                        "error": null
                      },
                      {
                        "position": 1,
                        "status": "ready",
                        "imageUrl": "https://image.media.shortkit.dev/carousels/1.jpg",
                        "error": null
                      }
                    ]
                  },
                  "meta": {
                    "request_id": "req_3a9d5e1f7c4b"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Finalize a carousel created via the upload endpoint after sending the image files to their signed upload URLs. Each image slot is validated — the file must exist, be an image, and be 10 MB or less — and the carousel becomes `ready` if at least one image is valid, otherwise `errored`. Returns per-image results; only applies to carousels still awaiting upload.",
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/download-url": {
      "get": {
        "summary": "Get download URL",
        "operationId": "get_download_url_v1_content__content_id__download_url_get",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Content Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "downloadUrl": "https://stream.media.shortkit.dev/rJ4OE02Z0Z4IY01Eo4Vgup5OilG8xZB9/highest.mp4",
                    "status": "ready"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "description": "Get an MP4 download URL for a content item (a live stream ID also resolves to its recording). Returns `{downloadUrl, status: \"ready\"}` when the file is available, 202 with `{status: \"preparing\"}` while it is still being prepared, and 404 if downloads are not enabled for your organization.",
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          }
        ]
      }
    },
    "/v1/content/{content_id}/download": {
      "get": {
        "summary": "Download content",
        "description": "Download a content item's MP4 directly. Responds with a 302 redirect to the file (a live stream ID also resolves to its recording); returns 404 if no downloadable file is available.",
        "operationId": "download_watermarked_mp4_v1_content__content_id__download_get",
        "parameters": [
          {
            "name": "content_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Content Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "security": [
          {
            "secretKey": []
          },
          {
            "publishableKey": []
          }
        ]
      }
    },
    "/v1/live-streams": {
      "post": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Create live stream",
        "description": "Create a live stream. The response includes ingest credentials (`rtmpUrl` and `streamKey`) for your broadcast software and the content item that appears in your feed once the stream goes live. Choose the delivery protocol with `protocol`: `hls` (default, a few seconds of latency) or `webrtc` (sub-second).",
        "operationId": "create_live_stream_v1_live_streams_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLiveStreamRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "5a7b8c9d-e0f1-4234-5678-90abcdef1234",
                    "streamingProtocol": "hls",
                    "playbackId": "DS00Spx1CV3C00bv7n7CnG02ROsPIxQ100",
                    "status": "idle",
                    "title": "Friday morning yoga",
                    "startedAt": null,
                    "endedAt": null,
                    "createdAt": "2026-06-10T13:55:02+00:00",
                    "currentViewers": 0,
                    "latencyMode": "low",
                    "reconnectWindow": 60,
                    "vodAssetId": null,
                    "streamKey": "abc123def456-7890-abcd-ef12-34567890abcd",
                    "rtmpUrl": "rtmps://ingest.shortkit.dev/app/abc123def456-7890-abcd-ef12-34567890abcd"
                  },
                  "meta": {
                    "request_id": "req_8f4b2c1d9e0a"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          }
        ]
      },
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "List live streams",
        "description": "List your organization's live streams, newest first. Filter with the `status` query parameter (`idle`, `active`, `ended`) and page size with `limit` (1–100, default 20). Each entry includes ingest credentials, current status, and `currentViewers`.",
        "operationId": "list_live_streams_v1_live_streams_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "5a7b8c9d-e0f1-4234-5678-90abcdef1234",
                      "streamingProtocol": "hls",
                      "playbackId": "DS00Spx1CV3C00bv7n7CnG02ROsPIxQ100",
                      "status": "active",
                      "title": "Friday morning yoga",
                      "startedAt": "2026-06-10T14:00:08+00:00",
                      "endedAt": null,
                      "createdAt": "2026-06-10T13:55:02+00:00",
                      "currentViewers": 87,
                      "latencyMode": "low",
                      "reconnectWindow": 60,
                      "vodAssetId": null,
                      "streamKey": "abc123def456-7890-abcd-ef12-34567890abcd",
                      "rtmpUrl": "rtmps://ingest.shortkit.dev/app/abc123def456-7890-abcd-ef12-34567890abcd"
                    },
                    {
                      "id": "6b8c9d0e-f1a2-4345-a789-01bcdef23456",
                      "streamingProtocol": "webrtc",
                      "playbackId": "sk-7c2d9e4f-1a3b-4c5d-8e9f-0a1b2c3d4e5f",
                      "status": "ended",
                      "title": "Sneaker drop Q&A",
                      "startedAt": "2026-06-08T17:02:11+00:00",
                      "endedAt": "2026-06-08T17:48:36+00:00",
                      "createdAt": "2026-06-08T16:50:44+00:00",
                      "currentViewers": 0,
                      "totalViews": 264,
                      "peakViewers": 31,
                      "viewerHistory": [
                        {
                          "ts": "2026-06-08T17:03:00Z",
                          "v": 12
                        },
                        {
                          "ts": "2026-06-08T17:04:00Z",
                          "v": 24
                        },
                        {
                          "ts": "2026-06-08T17:05:00Z",
                          "v": 31
                        }
                      ],
                      "streamKey": "AbCdEfGhIjKl",
                      "rtmpUrl": "rtmps://ingest.shortkit.dev/x/AbCdEfGhIjKl",
                      "whipUrl": "https://ingest.shortkit.dev/whip",
                      "whipToken": "Kf3mZq8vXw2N"
                    }
                  ],
                  "meta": {
                    "request_id": "req_2d7e9a4c5b1f"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/live-streams/status": {
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Get live stream status",
        "description": "Poll the current state of one or more live streams by playback ID — pass up to 50 IDs in the comma-separated `playback_ids` query parameter. Returns `status`, `startedAt`, `endedAt`, and `currentViewers` per playback ID. Authenticated with your publishable key, so it's safe to call directly from client apps. Playback IDs that don't match a live stream owned by your organization are silently omitted from the response — there is no per-ID error. An empty `data` map means none of the requested IDs were valid. You don't need this for an initial render — every feed item already includes its `liveStreamStatus`. Use it to keep a set of already-visible streams current as their state changes, without refetching the whole feed.",
        "operationId": "get_live_stream_status_v1_live_streams_status_get",
        "parameters": [
          {
            "name": "playback_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma-separated playback IDs",
              "title": "Playback Ids"
            },
            "description": "Comma-separated playback IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "DS00Spx1CV3C00bv7n7CnG02ROsPIxQ100": {
                      "status": "active",
                      "startedAt": "2026-06-10T14:00:08+00:00",
                      "currentViewers": 87
                    },
                    "sk-7c2d9e4f-1a3b-4c5d-8e9f-0a1b2c3d4e5f": {
                      "status": "ended",
                      "startedAt": "2026-06-08T17:02:11+00:00",
                      "endedAt": "2026-06-08T17:48:36+00:00",
                      "currentViewers": 0
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "publishableKey": []
          }
        ]
      }
    },
    "/v1/live-streams/{stream_id}/viewer-token": {
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Create viewer token",
        "description": "Issue a short-lived viewer token (about 15 minutes) for watching a WebRTC live stream, along with the `wsUrl` to connect to. Only available for streams created with `protocol: \"webrtc\"` — returns 400 for HLS streams. Authenticated with your publishable key, so clients can call it directly.",
        "operationId": "get_viewer_token_v1_live_streams__stream_id__viewer_token_get",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Stream Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ2aWV3ZXItOWYyYzRiOGEiLCJ2aWRlbyI6eyJyb29tIjoic2stN2MyZDllNGYiLCJjYW5TdWJzY3JpYmUiOnRydWV9fQ.x7KqVbn3mP0sT2wYzR8cD4eF6gH1jL5n",
                    "wsUrl": "wss://live.shortkit.dev",
                    "expiresAt": "2026-06-10T17:18:42Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "publishableKey": []
          }
        ]
      }
    },
    "/v1/live-streams/{stream_id}/publisher-token": {
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Create publisher token",
        "description": "Issue a short-lived publisher token (about 4 hours) for broadcasting to a WebRTC live stream, along with the `wsUrl` and WHIP ingest details. Only available for streams created with `protocol: \"webrtc\"` — returns 400 for HLS streams. Requires your secret key, so call it from your backend and hand the token to the broadcasting client.",
        "operationId": "get_publisher_token_v1_live_streams__stream_id__publisher_token_get",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Stream Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJwdWJsaXNoZXIiLCJ2aWRlbyI6eyJyb29tIjoic2stN2MyZDllNGYiLCJjYW5QdWJsaXNoIjp0cnVlfX0.a9BcD2eF4gH6jK8mN0pQ1rS3tU5vW7xY",
                    "wsUrl": "wss://live.shortkit.dev",
                    "whipUrl": "https://ingest.shortkit.dev/whip",
                    "expiresAt": "2026-06-10T21:03:42Z",
                    "whipToken": "Kf3mZq8vXw2N"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/live-streams/{stream_id}": {
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Get live stream",
        "description": "Retrieve a single live stream by ID, including its status, ingest credentials, configuration, and `currentViewers`. Returns 404 if the stream does not exist or does not belong to your organization.",
        "operationId": "get_live_stream_v1_live_streams__stream_id__get",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Stream Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "5a7b8c9d-e0f1-4234-5678-90abcdef1234",
                    "streamingProtocol": "hls",
                    "playbackId": "DS00Spx1CV3C00bv7n7CnG02ROsPIxQ100",
                    "status": "active",
                    "title": "Friday morning yoga",
                    "startedAt": "2026-06-10T14:00:08+00:00",
                    "endedAt": null,
                    "createdAt": "2026-06-10T13:55:02+00:00",
                    "currentViewers": 87,
                    "latencyMode": "low",
                    "reconnectWindow": 60,
                    "vodAssetId": null,
                    "streamKey": "abc123def456-7890-abcd-ef12-34567890abcd",
                    "rtmpUrl": "rtmps://ingest.shortkit.dev/app/abc123def456-7890-abcd-ef12-34567890abcd"
                  },
                  "meta": {
                    "request_id": "req_6c1e8b3a9d2f"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Delete live stream",
        "description": "Delete a live stream and remove its content item from your feed. If the stream is still active, the broadcast is ended first. Clips already created from the stream are preserved as standalone content items.",
        "operationId": "delete_live_stream_v1_live_streams__stream_id__delete",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Stream Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "5a7b8c9d-e0f1-4234-5678-90abcdef1234",
                    "deleted": true
                  },
                  "meta": {
                    "request_id": "req_e9c2f5a8b1d4"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          }
        ]
      }
    },
    "/v1/live-streams/{stream_id}/start": {
      "post": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Start live stream",
        "description": "Mark a WebRTC live stream as `active` and publish it to your feed. Call this after your WebRTC publisher has connected and begun sending media — HLS streams go active automatically when the encoder connects, so they don't need this call. Idempotent: calling it on an already-active stream returns the current stream unchanged.",
        "operationId": "start_live_stream_v1_live_streams__stream_id__start_post",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
[...]
